

.store__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.store__title {
  margin-bottom: 0;
  font-size: 30px;
  line-height: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* максимум 4 карточки */
  gap: clamp(10px, 2vw, 30px); /* адаптивный отступ между карточками */
  justify-content: center;
  margin: 0 auto;
}


.store__slider {
  padding-left: 10px;
  padding-bottom: 10px;
}

.slide {
  width: 300px !important;
  display: flex !important;
}

.card {
  background: rgb(255, 255, 255);
  border-radius: 22px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* защита от выхода картинки */
 
}


.store__intitle {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 6px;
}

.store__intext {
  font-size: 13px;
  color: #666;
}

.image {
  padding-top: 12px;
  width: 92%;
  object-fit: contain; 
  border-radius: 12px;
  margin-bottom: 10px;

}

.card_desc{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-right: -26px;
}

.store__intitle {
  font-weight: 600;
  font-size: 14px;
}

.store__intext {
  font-size: 13px;
  color: #666;
  padding-bottom: 10px;
}

.after__button {
  display: none;
  @media (max-width: 550px) {
    display: block;
  }
}

.title_button {
  display: block;
  @media (max-width: 550px) {
    display: none;
  }
}
