.catalog__content{
  display: flex;
  justify-content: space-between;
}

.catalog__title {
  margin-bottom: 24px;
  text-align: left;
}

.catalog__slider {
  overflow-x: auto;
  padding-bottom: 10px;
  scrollbar-width: none;
}

.slide {
  width: auto !important;
  display: flex !important;
  margin-left: clamp(15px, calc((100vw - 375px) / 15), 100px);
  width: 200px;
  height: 220px;
}

.firstSlide {
  margin-left: 0 !important;
}


.card {
  padding: 12px;
  background: white;
  border-radius: 12px;
  width: 180px;
  text-align: center;
  cursor: pointer;
}

.catalog__intitle {
  font-weight: 650;
  font-size: 14px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 8px;
}
