body{
  background-color: rgb(245, 245, 245) !important;
}


.container {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px 0;
}

.main_container {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px 0;
  background: #eeeeee;
}