.title_bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.bottom_articul {
  display: flex;
  align-items: center;
  gap: 4px;
}

.title_box {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.card_header {
  display: flex;
  gap: 5px;
}

.card_delivery {
  display: flex;
  flex-direction: column;
}

.card_buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.body_card {
  display: flex;
  flex-direction: column;
  max-width: 408px;
  width: 100%;
  border: 1px solid;
  border-radius: 8px;
  border-color: #36374033;

  @media (max-width: 868) {
    width: 100%;
    max-width: 1200px;
  }
}


.card_wrapper {
  padding: 15px 15px;
}

.card_delivery {
  border-bottom: 1px solid;
  border-color: #36374033;
  padding: 15px 0;
}

.card_text {
  padding: 15px 0;
}

.card_payment {
  display: flex;
  gap: 5px;
}

.card_tools {
  display: flex;
  gap: 10px;
}

.card_rate1 {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card_rates {
  display: flex;
  align-items: center;
}
.card_payment {
  display: flex;
  align-items: center;
  justify-content: center; // или space-between если надо растянуть
  gap: 10px; // расстояние между иконками
  max-width: 100%; // чтобы не вылезало
  overflow: hidden; // на всякий случай
}

.money_img {
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
  width: clamp(55px, calc(10px + 18vw), 115px);
}
.body {
  display: flex;
  justify-content: space-between; // раскидывает влево-вправо
  align-items: flex-start;
  width: 100%;         // вместо 100vw
  max-width: 1400px;   // ограничение по центру
  margin: 20px auto 0; // центрирование
  gap: 40px;
}

.body_left,
.body_right {
  flex: 1;       // пусть делят место
  min-width: 0;  // важно для сжатия без вылазов
}

.body_left {
  display: flex;
  justify-content: flex-start; // картинка уходит влево
  align-items: flex-start;

  img {
    max-width: 100%;
    height: auto;
  }
}

.body_right {
  display: flex;
  justify-content: flex-end; // карточка уходит вправо
}

@media (max-width: 868px) {
  .body {
    flex-direction: column;   // переводим в колонку
    align-items: center;      // центрируем по горизонтали
    gap: 20px;                // расстояние между фото и карточкой
  }

  .body_left,
  .body_right {
    width: 100%;              // пусть занимают всю ширину
    display: flex;
    justify-content: center;  // центрируем контент внутри
  }
}

.goods{
  margin-top: 32px !important;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

.swiperimg {
  width: 100%;
  max-width: 650px;  // ограничение
  height: auto;
  object-fit: contain;
  border-radius: 12px;
  display: block;
  margin: 0 auto;    // чтобы всегда было по центру
}
