.haeder {
  
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "logo search settings";
  align-items: center;
  gap: 20px;
  min-height: 70px;
  z-index: 1000;

  @media (max-width: 650px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "adaptive logo login"
      "search search search";
    gap: 10px;
  }
}


.container {
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 0;
}

.header__logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s ease; // Плавность
}

@media (max-width: 650px) {
  .header__logo {
    transform: scale(0.8); // уменьшается на 20%
  }
}

@media (max-width: 480px) {
  .header__logo {
    transform: scale(0.7); // ещё меньше для очень маленьких экранов
  }
}

.header__search {
  grid-area: search;
  display: flex;
  align-items: center;
  gap: 10px; // ← отступ между кнопкой и SearchInput
  flex-wrap: wrap;
  justify-content: center;


}

.searchWrapper {
  flex: 1;
  min-width: 120px;
  max-width: 600px;
}

.header__search_btn {
  min-width: 90px;
  padding: 6px 10px;
  font-size: 13px;
  white-space: nowrap;
  height: 36px;
 
  @media (max-width: 650px) {
    display: none !important;
  }
}

.header__settings {
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (max-width: 1024px) {
    grid-area: settings;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 20px;
  }
}

.settings_language {
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
  font-weight: 500;
  font-size: 12px;

  @media (max-width: 1024px) {
    display: none;
  }
}

.header_basket {
  @media (max-width: 1024px) {
    display: none;
  }
}



.adaptiveWrapper {
  grid-area: adaptive;
  display: none;

  @media (max-width: 650px) {
    display: block;
  }
}

.header_wrapper {
  padding: 10px;
   @media (max-width: 650px) {
    padding: 0px;
  }
}

.header_box {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 1px 0px rgba(34, 60, 80, 0.31);
  -moz-box-shadow: 0px 1px 1px 0px rgba(34, 60, 80, 0.31);
  box-shadow: 0px 1px 1px 0px rgba(34, 60, 80, 0.31);
}

.overlay {
  position: fixed;
  top: 89px;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
}



.signup {
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  background-color: #53C4AF;

  @media (max-width: 650px) {
    display: none;
  }

  &:hover {
    background-color: #49ad9a; 
  }
}


.signup1 {
  display: none;
  align-items: center;
  gap: 10px;
  grid-area: login;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }

  @media (max-width: 650px) {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-left: 10px;
  }
}

.basket__box{
  display: flex;
  flex-direction: column;
  align-items: center;
    @media (max-width: 1024px) {
    display: none;
  }
}

.basket__txt{
  font-weight: 500;
  font-size: 12px;
  padding-left: 10px;
}