
.contact__title{
    margin-top: 30px;
    font-weight: 700;
    font-size: 36px;
}

.more__image{
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
}

.more__wrapper{
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
}

.card_title{
    font-weight: 600;
    font-size: 24px;
    padding: 15px 0;
}

.info_text{
    color: #828282;
    font-weight: 400;
    font-size: 18px;
}

.card_buttons{
    margin: 0 auto;
    max-width: 930px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}
.card_button{
    margin: 0 auto;
    max-width: 930px;
    width: 100%;
}